<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Parkfuchs.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F6ADED7E81FC69355EA464293F1B2AA7FA79993A</string>
				<key>dateExpires</key>
				<string>09.04.26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>29GD2HF977.-9GD2HF977.de.test.parkfuchs</string>
				<key>com.apple.developer.team-identifier</key>
				<string>29GD2HF977</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Parkfuchs.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>315345d3-6179-4647-82f3-0f6dbaf4dc41</string>
				<key>dateExpires</key>
				<string>10.04.24</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: -9GD2HF977.de.test.parkfuchs</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>29GD2HF977</string>
				<key>name</key>
				<string>Berliner Verkehrsbetriebe</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
